<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=chrome">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EMS</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Sharp" rel="stylesheet">
        <link rel="shortcut icon" href="../CSS/hehe.png">
        <link rel="stylesheet" href="../CSS/ClientDatabase.css">
    </head>

    <body>
        <div class="container">
            <aside>
                <div class="top">
                    <div class="logo">
                        <img src="https://cdn.discordapp.com/attachments/1075714300020269127/1075714382060847184/emslogo.gif">
                        <h2 >EMS </h2>
                    </div>
                </div>

                <hr>

                <div class="sidebar">
                    <a href="/AdminInterface">
                        <span class="material-symbols-sharp">dashboard</span>
                        <h3> Dashboard</h3>
                    </a >
                    <a href="/Schedule">
                        <span class="material-symbols-sharp">calendar_month</span>
                        <h3>Schedule</h3>
                    </a>
                    <a href="#">
                        <span class="material-symbols-sharp">calendar_month</span>
                        <h3>Jobs Pending</h3>
                    </a>
                    <a href="#">
                        <span class="material-symbols-sharp">construction</span>
                        <h3>Projects</h3>
                    </a>
                    <a href="/EmployeeDB">
                        <span class="material-symbols-sharp">engineering</span>
                        <h3>Employees' Database</h3>
                    </a>
                    <a href="/ClientDB">
                        <span class="material-symbols-sharp">groups</span>
                        <h3>Clients' Database</h3>
                    </a>
                    <a href="#">
                        <span class="material-symbols-sharp">settings</span>
                        <h3>Settings</h3>
                    </a>
                    <a href="#" onclick="logoutSubmit()">
                        <span class="material-symbols-sharp">logout</span>
                        <h3>Log Out</h3>
                    </a>
                </div>
            </aside>  

            <!---end of aside-->
            <main>
                <h1>
                    EMS Clients' Database
                </h1>

                <table class="table table-striped">
                    <tr>  
                        <th style="width: 180px;">Name</th>
                        <th style="width: 250px;">Email</th>
                        <th style="width: 50px;">Gender</th>
                        <th style="width: 120px;">Contact Number</th>
                        <th style="width: 180px;">Address</th>
                        <th>Avatar</th>
                        <th>Resume</th>
                        <th style="width: 50px;">Decision</th>
                    </tr>  

                    <tbody>
                        {{#each list}}
                        <tr align="center">      
                            <td>{{this.name}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.gender}}</td>
                            <td>{{this.contactNumber}}</td>
                            <td>{{this.address}}</td>
                            <td> <img src = "{{this.avatar}}" style="width: 150px; height: 150px;"> </td>
                            <td> <img src = "{{this.resume}}" style="width: 150px; height: 150px;"> </td>
                            <td> 
                                <button> <a href="accept/{{this._id}}/Client" id="decision"> Accept </a> </button>
                                <button> <a href="delete/{{this._id}}/Client" id="decision"> Decline </a> </button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </main>
            <!--END OF MAIN-->                   
        </div>

    </div>

    <script src="/JS/sidebar.js"></script>     
    </body>
</html>